
<br>
<div class="container-fluid">
    <div class="row">
         <div class="col">
             <p style="text-align: center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Создать задачу
                </button>
            </p>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание задачи</h5>

                  </div>
                  <div class="modal-body">
                      <form method="post" action="?make=add_task&project_id={{ project_id }}">
                          {% csrf_token %}
                          <label class="form-label" for="task_name1">Наименование задачи</label>
                          <input class="form-control" id="task_name1" name="task_name" required>
                          <br>
                          <label class="form-label" for="diff1">Сложность</label>
                          <input class="form-control" id="diff1" name="diff" required>
                          <br>
                          <label class="form-label" for="time1">Расчётное время выполнения</label>
                          <input class="form-control" id="time1" name="time" required>
                          <br>
                          <label class="form-label" for="type1">Тип задачи</label>
                          <input class="form-control" id="type1" name="type" required>
                          <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
                    </form>
                </div>
              </div>
            </div>


         </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-bordered text-center">

                <tr>
                    <td>Наименование задачи</td>
                    <td>Тип задачи</td>
                    <td>Исполнитель</td>
{#                    <td>Сложность</td>#}
                    <td>Максимальное время выполнения</td>
                    <td>Статус</td>
                    <td>Предложено кандидатов, человек</td>
                    <td>Действия</td>
                </tr>
                {% for task in tasks_tab %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    {% if task.type_id == 1 %}
                        <td>BackEnd</td>
                    {% endif %}
                    {% if task.type_id == 2 %}
                        <td>FrontEnd</td>
                    {% endif %}
                    {% if task.type_id == 3 %}
                        <td>Системное администрирование</td>
                    {% endif %}

                    <td>Исполнитель не назначен</td>
{#                    <td>{{ task.difficult }}</td>#}
                    <td>{{ task.term }} минут</td>
                    {% if task.closed == NULL %}
                        <td style="color: olive;">Задача открыта</td>
                    {% else %}
                        <td style="color: red;">Задача закрыта</td>
                    {% endif %}
                    <td>{{ task.count_auction }}</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    {% if task.closed == NULL %}
                                        <input class="form-control" placeholder="Время выполнения">
                                    {% else %}
                                        <input class="form-control" placeholder="Время выполнения" disabled>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if task.closed == NULL %}
                                        <button class="btn btn-warning">Предложить</button>
                                    {% else %}
                                        <button class="btn btn-warning" disabled>Предложить</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                {% endfor %}


            </table>
        </div>
    </div>
</div>












